nav {
    background-color: darkgoldenrod;
    margin-bottom: 150px;
}


.navbar-brand.warna{
    background-color: palegreen;
    color:crimson;
    
    
}

.container{
    background-color: forestgreen;
}

#top-banner{
    width: 100%;
    height: 100px;
}
.img-fliud{
    width:100%x;
    height:100%;
}