nav {
    background-color: darkgoldenrod;
    margin-bottom: 150px;
}


.navbar-brand.warna{
    background-color: palegreen;
    color:crimson;
    
    
}

.container{
    background-color: forestgreen;
}

#top-banner{
    width: 50%;
    height: 100px;
}